<div class="message">
    <div class="message__author"></div>
    <div class="message__content">
        <div class="message__author--name">{{name}}</div>
        <div class="message__text">{{text}}</div>
        <div class="message__date">{{date}}</div>
    </div>
</div>